/* ============================================ */
/* ================ global ==================== */
/* ============================================ */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body-reset {
  min-width: 320px;
  font-family: arial, sans-serif;
  background-color: gray;
}

/* ============================================ */
/* ================ general =================== */
/* ============================================ */

/* = container = */

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin: 0 auto;
  padding: 30px 0;
  max-width: 1200px;
  width: 100%;
  height: 100svh;
  background-color: rgb(235, 205, 161);
}

/* = all = */

.img-max {
  display: inline-block;
  max-width: 100%;
  height: 100%;

  object-fit: cover;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
